/*Work sens fonts from google font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&family=Work+Sans:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
/*share style*/
* {
   font-family: 'Work Sans', sans-serif;
}
.text-light-gray {
    color: #727272;
    font-size: 16px;
    font-weight: 400;

}
.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border:none;
}
.repeat-h3 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
/*style header section*/
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav > ul {
    display: flex;
}
nav li {
    list-style-type: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color:#424242;
}
/*style banner*/
.banner-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-desc {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}
.banner img {
    margin-top: 20px;
    width: 100%;
}

/*main section style start*/
main {
    max-width: 1440px;
    margin: 70px auto;
}
/*teams style*/
.teams-container {
    display: flex;
    align-items: center;
}
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
}
.teams-content {
    padding-right: 75px;
    padding-left: 75px;
}
.teams-title {
    font-size: 2.7rem;
}
.q-list {
    color:#727272;
    font-weight: 500;
}
.Features {
    color:#FF900E;
    font-weight: 700;
}
.teams-desc {
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
/*features section style*/
.features {
    margin-top: 100px;
    display: flex;
    gap:120px;
}
.features-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 5px;
    font-size: 45px;
font-weight: 700;

}
.features .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding:30px;
    margin-top: 20px;
}
.features-img img {
    margin-left: 70px;
    height: 100%;
    width: 90%;
}
  .years {
    padding: 25px 45px;
    border-radius: 8px;
    background: #FF900E;
    position: relative;
    margin: -100px 570px 0px 0px;
    

  }
  .features-img .years  h2 {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
  }
  .features-img .years  p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
  }
  .features-img .years h2, p {
    margin: 5px 0px;
  }
/*fact style*/
.fact-card-container {
    display: flex;
    justify-content: space-around;
}
.fact-h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}
.fact-desc {
    margin-top: 0px;
    margin-bottom: 100px;
}
.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-size: 2.8rem;
    padding: 30px 30px;
}
.fact-card-container .card-stats {
    font-size:45px;
    color: #424242;
    margin-bottom: 10px;
    margin-top: 0px;
}
.fact-card-container .card-title {
    font-size: 20px;
    margin: 0px;
}
/*sponsores container style*/
.sponsore-container {
    text-align: center;
}
.sponsore-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
/*responsive media quary */
/*mobile device*/
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
    .teams-container , .sponsore-img-container {
        flex-direction: column;
    }
    .features {
        flex-direction: column; 
    }
    .sponsore-img-container {
        gap:30px;
        align-items: center;
    }
    .sponsore-img-container img {
        text-align: center;
        width: 165.833px;
        height: 50px; 
    }
    .teams-img-container {
        grid-template-columns: 1fr;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .teams-content, .fact-desc , .repeat-h3{
        padding: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 10px;

    }
    .fact-card-container , .features-content {
        flex-direction: column;
        margin: 5px 20px;
    }
    .features-img img {
        margin: 10px 20px;
        height: 100%;
        width: 90%;
    }
    .years {
        padding: 25px 45px;
        border-radius: 8px;
        background: #FF900E;
        margin: 10px 20px;
    
      }
    .fact-card-container .card {
        margin-top: 10px;
    }
}
/*tablet or medium device*/
@media  screen and (min-width: 576px) and (max-width: 990px) {
    nav {
        flex-direction: column;
    }
    header {
        padding: 20px;
    }
    .teams-container {
        flex-direction: column;
    }
    .teams-content {
        padding-right: 5px;
        padding-left:  5px;
    }

}
